header {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
}

.logo img {
    width: 100px;
    height: auto;
    border-radius: 50%;
}
nav ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

.search-bar {
    display: flex;
    align-items: center;
}
.search-bar input[type="text"] {
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin-right: 10px; 
}

.search-bar button {
    padding: 5px 10px;
    background-color: #555;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

nav a:hover,
.search-bar button:hover {
    background-color: #777;
}

.head-container {
    display: flex;
    justify-content: space-around;
    background-color: #333;
    align-items: center;
    color: white;
}
.left-content {
    margin: 70px;
}
h1 { 
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

p {
    font-size: 18px;
    color: #E5E7EB;
}

button {
     color: white;
     width: 120px;
     height: 60px;
     border-radius: 50px;
     background-color: #3882F6;
     border: none;
}


.right-content img {
    width: 500px;
    height: auto;
    margin: 70px;
    border-radius: 30px;
}
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the content horizontally */
    text-align: center; /* Center text within the container */
}

.second-h1 {
    color: black;
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 20px; /* Add spacing below the heading */
}

.images {
    display: flex;
    flex-wrap: wrap; /* Wrap the image containers to the next row if necessary */
    justify-content: center; /* Center the images horizontally */
    gap: 20px;
}

.image-container {
    text-align: center; /* Center text within each container */
}

.images img {
    height: 200px;
    width: 200px;
    border-radius: 10px;
    border: solid;
    overflow: clip;
}

.images p {
    width: 180px;
    margin-top: 10px; /* Add spacing above each paragraph */
    color: black;
}

.third {
    text-align: center;
    background-color: #E5E7EB;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.quote {
    margin-top: 200px;
    margin-bottom: auto;
    font-size: 36px;
    font-style: italic;
    font-weight: 400;
    color: black;
}

.quoter {
    padding-left: 150px;
    flex-basis: 200px;
    color: black;
}

.fourth {
    background-color: rgb(53, 92, 163);
    display: flex;
    justify-content: space-around;
    margin: 80px 150px 80px 150px;
    margin-left: auto;
    margin-right: auto;
    height: 140px;
    width: 1000px;
    color: white;
    border-radius: 5px;
}
.fourth-text {
    display: flex;
    flex-direction: column;
}

.fourth-header {
    font-weight: 900;
    font-size: 18px;
    margin: 48px 0 0 0;
}

.fourth-subtext {
    margin: 0 0 40px 0;
}

.fourth-button {
    align-self: center;
    padding: 5px 25px 5px 25px;
    color: #F9FAF8;
    background-color: #3882F6;
    border-radius: 10px;
    border-color: #F9FAF8;
}